body{
    background-image: linear-gradient(to top, #edf1d6, #e0e7c7, #d1deb8, #c3d5a9, #b3cc9c, #b2cc9b, #b2cb9a, #b1cb99, #c0d3a4, #cedcb0, #dce4bc, #e9edc9);
    
    text-align: center; 
    margin:0;
    line-height: 2;
}
.top-div{
    padding-bottom: 50px;
}
.three{width:100px;
    margin:0 15% 0 15%;
    display: inline;
}
.four{
    width:100px;
    margin:0 15% 0 15%;
    display: inline;
}
h1{font-family: 'Tangerine', cursive;
    font-size: 5rem;
    margin:0}
h1:hover{color:#40513B;
        text-decoration:dotted underline;}
h2{
    font-family: 'Montserrat', sans-serif;
    }
.p-mid{
        font-size:1.1em;
        font-family:'Montserrat', sans-serif;
    }
    .h2good{
        font-size: 1.5em;
        color:#40513B;
    }
.ak{width:100px;
margin:20px;}
.five,.six{
    width:100px;
    margin:0 10%;
}
#hrtop{
    width:12em;
    padding:2em 0 2em 0;
    border-style: none;
    border-top:0.5em dotted #2B346750;
}
hr{
    width:5em;
    padding:2em 0 2em 0;
    border-style: none;
    border-top:0.5em dotted #2B346750
}
#c,#cpp,#java,#python,#arduino,#matlab,#web-dev,#aws,#dbms,#code{
    width:7em;
    margin:0 2.5%;
}
#c:hover, #java:hover, #arduino:hover{
    background-color:#000000;
    border-radius: 25% 50% ;
}
#cpp:hover,#python:hover, #matlab:hover{
    background-color: #40513B;
    border-radius: 25% 50%;
    background-size: 2em;

}
.hobbies{
    font-size: medium;
}
.bot-div{
    padding-top: 2em;
    background-color: black;
    margin:0;
}
.h2bot{margin:0 auto 0 auto;
color:#FFFFFF70;
font-size: 1em;
}
.footer-link{
    font-size: medium;
    font-weight:600;
    color:#FFFFFFA0;
    text-decoration: none;
    padding:0 1rem 0 1rem;
    font-family: 'Roboto', sans-serif;

}
.pfoot{
    color:#FFFFFF70;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
